<h1>Add your CLient!</h1>
<form action="/clients" method="post">
  <label for="new-client">Add a client</label>
  <input id="new-client" name="new-client" type="text">
  <input id='stylistId' name='stylistId' type='hidden' value='@Model.GetStylistId()'>
  <button type="submit">Add Stylist!</button>
</form>
