@{
Layout = "_Layout";
}
<h1>Hire a stylist!</h1>
<form action="/stylists" method="post">
  <label for="new-stylist">Add a stylist</label>
  <input id="new-stylist" name="new-stylist" type="text">
  <button type="submit">Add Stylist!</button>
</form>
